body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.click-to-send {
  background: #f60;
  color: #fff;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 300px;
}
